<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to PMS</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Track pollution within your city with a few button presses.
    </ion-card-content>
  </ion-card>

  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" novalidate>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username" type="username"></ion-input>
        </ion-item>
        <div class="error ion-padding" *ngIf="loginForm.controls.username.dirty && loginForm.controls.username.errors?.required">
          Name is required.
        </div>
        <div class="error ion-padding" *ngIf="loginForm.controls.username.dirty && loginForm.controls.username.errors?.minlength">
          Name should be min 5 chars long.
        </div>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div class="error ion-padding" *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.errors?.required">
          Password is required.
        </div>
        <div class="error ion-padding" *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.errors?.minlength">
          Password should be min 8 chars long.
        </div>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" [disabled]="loginForm.invalid" >Login</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </form>
</div>