<ion-content *ngIf="loadedData">
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start">{{ station.station_name }}</ion-title>
      <ion-menu-toggle slot="end">
        <ion-menu-button>
          <ion-icon name="reorder-three-outline"></ion-icon>
        </ion-menu-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-content>View latest info on this station</ion-card-content>
  </ion-card>

  <div id="detailsMap" style="width: 100%; height: 55vh"></div>

  <ion-list>
    <ion-item>
      <ion-label>Is activated:</ion-label>
      <ion-note slot="end">{{ station.isEnabled ? 'Activated' : 'Disabled' }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Last Updated</ion-label>
      <ion-note slot="end">{{ station.lastUpdatedAt }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Latest Microphone Noise level</ion-label>
      <ion-note slot="end">{{ station.lastMicrophoneLevel }} dB</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Average Microphone Noise level</ion-label>
      <ion-note slot="end">{{ station.avgMicrophonelevel }} dB</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Latest Air Pollution level</ion-label>
      <ion-note slot="end">{{ station.lastAirPollutionLevel }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Average Air Pollution level</ion-label>
      <ion-note slot="end">{{ station.avgAirPollutionLevel }}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>