<ion-content *ngIf="loadedData">
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start">{{ station.station_name }}</ion-title>
      <ion-menu-toggle slot="end">
        <ion-menu-button>
          <ion-icon name="reorder-three-outline"></ion-icon>
        </ion-menu-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-content>View latest info on this station</ion-card-content>
  </ion-card>

  <div id="detailsMap" style="width: 100%; height: 55vh"></div>

  <ion-list>
    <ion-item>
      <ion-label>Is activated:</ion-label>
      <ion-note slot="end">{{ station.isEnabled ? 'Activated' : 'Disabled' }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Last Updated</ion-label>
      <ion-note slot="end">{{ station.lastUpdatedAt }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Latest Microphone Noise level</ion-label>
      <ion-note slot="end">{{ station.lastMicrophoneLevel !== -1 ? station.lastMicrophoneLevel + ' dB': 'None' }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Average Microphone Noise level</ion-label>
      <ion-note slot="end">{{ station.avgMicrophonelevel !== -1 ? station.avgMicrophonelevel + ' dB' : 'None' }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Latest Air Pollution level</ion-label>
      <ion-note slot="end">{{ station.lastAirPollutionLevel }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Notify when microphone level is exceeding threshold:</ion-label>
      <ion-button (click)="updateMicrophoneAlertIsOn()"> {{ isAlertMicrophoneOn ? 'Enable Threshold' : 'Disable Threshold' }}</ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Microphone Threshold in dB:</ion-label>
      <ion-input [disabled]="!isAlertMicrophoneOn" [(ngModel)]="currentMicrophoneThreshold"></ion-input>
    </ion-item>
    <ion-button [disabled]="!isAlertMicrophoneOn" (click)="updateMicrophoneAlertThreshold()">Save</ion-button>
  </ion-list>

</ion-content>