<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Path between Active Stations</ion-title>
    <ion-menu-toggle slot="end">
      <ion-menu-button>
        <ion-icon name="reorder-three-outline"></ion-icon>
      </ion-menu-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-text *ngIf="!existsStations.value" style="text-align: center">
        <h1> You need to have at least one active station</h1>
      </ion-text>
    </ion-col>
  </ion-row>
  <div id="findPathMap" [ngClass]="{'ion-hide': !existsStations.value }" style="width: 100%; height: 92vh"></div>
</ion-content>